/*colores*/
:root{
    --SalmonObscuro: #ffb8a1;
    --SalmonClaro: #f7d3b8;
    --Rosa: #f2cdcd;
    --Blanco: #ffffff;
    --Negro: #0a0a0a;
    --GrisObscuro: #1B1B1B;
    --GrisClaro: #c4c4c4;
    --GrisMedio: #666;
}

.productCart section.caja{
    padding: 10px;
    border:solid 1px rgb(0, 225, 255);
    display: flex;
}
.productCart section h2{
    border:solid 1px rgb(204, 0, 255);
}
.productCart section h4{
    border:solid 1px rgb(12, 95, 81);
}
.productCart section.caja-pedido{
    border:solid 1px rgb(185, 91, 2);
}
.productCart section.caja-resumen{  
    border:solid 1px solid 1pxrgb(255, 0, 21);
}
.productCart section.caja-compra{  
    border:solid 1px rgb(0, 38, 255);
}


