<footer>
 
    <div class="footer">
      <div class="envioycontacto caja">
        <div class="arriba ">
 
         
 
 
          <div class="titulofooter">Formas de Envío</div>
          <div class="correo">
             <a href="#"><i class="fas fa-shipping-fast"></i> CORREO ARGENTINO</a>
          </div>
          <div class="oca">
             <a href="#"><i class="fas fa-truck"></i> OCA</a>
          </div>
 
        </div>
 
 
        
        <div class="bajo caja">
 
 
          <div class="titulofooter">Contacto</div>
          <div class="telefono">
            <a href="#"><i class="fas fa-phone-volume"></i> +541162628888</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i> horaDelTe@gmail.com</a>
            <div class="ubicacion">
             <a href="#"><i class="fas fa-map-marked-alt"></i> Av. Siempre Viva 7777 , Springfield</a>
           
        
  
           </div>
       
 
          </div>
        </div>
      </div>
      <div class="medio caja">
        <div class="titulofooter">Medios de Pago</div>
        <div class="mercadopagologo">
      
    
     </div>
 
      </div>
 
 
      <div class="derecha caja">
 
 
        <div class="titulofooter">Nuestras Redes Sociales</div>
         
          <div class="iconos">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            
          </div>
  
      </div>
    </div>
    
  </footer>
  