<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Hora del té' }) %>

    <!---header-->

    <%- include("partials/header") %>

        <!---header-->

        <body class="nosotras">
            <main>

                <section class="nosotras">
                    <h1>¿Quienes somos?</h1>
                    <div class="caja">
                    <article class="box-general">
                        <img src="/img/default-image.png" width="100%" alt="">
                        <div class="box">
                            <h4>
                                Nombre y apellido
                            </h4>
                            <div class="box-descripcion">
                                <p class="descripcion">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum mollitia quia at sed,
                                    eveniet laboriosam possimus voluptatum soluta commodi pariatur expedita, qui atque
                                    repellendus. Praesentium quae veniam saepe fugiat? Maiores?
                                </p>
                            </div>
                        </div>
                    </article>

                    <article class="box-general">
                        <img src="/img/default-image.png" width="100%" alt="">
                        <div class="box">
                            <h4>
                                Nombre y apellido
                            </h4>
                            <div class="box-descripcion">
                                <p class="descripcion">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum mollitia quia at sed,
                                    eveniet laboriosam possimus voluptatum soluta commodi pariatur expedita, qui atque
                                    repellendus. Praesentium quae veniam saepe fugiat? Maiores?
                                </p>
                            </div>
                        </div>
                    </article>

                    <article class="box-general">
                        <img src="/img/default-image.png" width="100%" alt="">
                        <div class="box">
                            <h4>
                                Nombre y apellido
                            </h4>
                            <div class="box-descripcion">
                                <p class="descripcion">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum mollitia quia at sed,
                                    eveniet laboriosam possimus voluptatum soluta commodi pariatur expedita, qui atque
                                    repellendus. Praesentium quae veniam saepe fugiat? Maiores?
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                </section>


            </main>

           

        </body>


</html>