<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Hora del té' }) %>

    <!---header-->

    <%- include("partials/header") %>

        <!---header-->

        <body class="home">
            <main>

                <section>
                    <h1>¿Quienes somos?</h1>
                    <p>
                        
                    </p>
                </section>


            </main>

            <%- include('partials/footer') %>

        </body>


</html>