<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <title> Hora del Té </title>
</head>


  
 
 <!---header-->
 <header>
  <div class="caja-superior">
      <a href="/"><img src="/img/Logo.png" alt=""></a>
      <div class="search" >
          <input placeholder=" Buscar... " type="search">
          <i class="fas fa-search"></i>
      </div>
      <nav>
          <ul class="navbar">
              <li><a href="/">Inicio</a></li>
              <li><a href="">Productos</a></li>
              <li><a href="">Preguntas frecuentes</a></li>
              <li><a href="">Contacto</a></li>
          </ul>
          <ul class="login-bar">
              <li><a href="/register"><i class="far fa-id-card"></i> Registrate </a>
              <li><a href="/login"><i class="fas fa-user-circle"></i> Iniciar sesión </a>
              <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          </ul>
      </nav>
  </div>
  <div class="caja-inferior">
      <div class="burger-menu">
          <i class="fas fa-bars"></i>
      </div>
  </div>
</header>

     <!---fin de header-->
    
     <!--body-->


     <body class="detail">
    
      <main class="container">
 
        <!-- PRODUCTO -->
        <div class="left-column">
          <img src="/img/tazadona.jpg" alt="">
     
         
        </div>
 
        <div class="right-column">
       
          <!-- DESCRIPCION -->
          <div class="product-description">
            <span>Tazas y Teteras</span>
            <h1>Taza Dona</h1>
            <p>Taza de ceramica, pintura duradera, capacidad de 350ml.</p>
            <div class="precio">
              <span>2500$</span>
        
            </div>
          </div>
       
       
            <!-- CANTIDAD -->
            <div class="cantidadboton">
              <span>Cantidad</span>
       
              <div class="botonesmasymenos">
                <button>   -   </button>
                <span>1</span>
                <button>   +     </button>
              </div>
       
               
            </div>
          </div>
       
       
      
        </div>
      </main>




     </body>

 <!---FOOTER------------------------------------------------------------>
    <footer>
 
        <div class="footer">
          <div class="envioycontacto caja">
            <div class="arriba ">
     
             
     
     
              <div class="titulofooter">Formas de Envío</div>
              <div class="correo">
                 <a href="#"><i class="fas fa-shipping-fast"></i> CORREO ARGENTINO</a>
              </div>
              <div class="oca">
                 <a href="#"><i class="fas fa-truck"></i> OCA</a>
              </div>
     
            </div>
     
     
            
            <div class="bajo caja">
     
     
              <div class="titulofooter">Contacto</div>
              <div class="telefono">
                <a href="#"><i class="fas fa-phone-volume"></i> +541162628888</a>
              </div>
              <div class="email">
                <a href="#"><i class="fas fa-envelope"></i> hirschmannsol@gmail.com</a>
                <div class="ubicacion">
                 <a href="#"><i class="fas fa-map-marked-alt"></i> Av. Siempre Viva 7777 , Springfield</a>
               
            
      
               </div>
           
     
              </div>
            </div>
          </div>
          <div class="medio caja">
            <div class="titulofooter">Medios de Pago</div>
            <div class="mercadopagologo">
          
        
         </div>
     
          </div>
     
     
          <div class="derecha caja">
     
     
            <div class="titulofooter">Nuestras Redes Sociales</div>
             
              <div class="iconos">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                
              </div>
      
          </div>
        </div>
      
      </footer>

      <!---FOOTER------------------------------------------------------------>
</body>

</html>