.login a{
    text-decoration: none;
}

/*contenido*/
.login main{
    font-family:  Roboto, Condensed, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}


/*formulario en general*/
.login main .formulario{
    background-color:#F8D0D0;
    margin: 25px 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 300px;
    align-self: center; 
}


/* titulo inicio de sesion*/
.login main .formulario p{
    width: 100%;
    margin: 25px 0px 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: unset;
    font-weight: bold;
}


/* caja de formulario */
.login main .formulario .box-form{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 0 9%;
}


/*titulo email-contraseña*/
.login main .formulario .box-form label{
    font-size: 12px;
    margin: 0 0 2px 10px;
    text-transform: uppercase;
}


/*seccion para rellenar*/
.login main .formulario .box-form input{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border:none;
    height: 30px;
    font-size: 12px;
    padding: 15px;
}


/*mensaje de error*/
.login main .formulario .conteiner-error span {
    font-size: 14px;
    color: #D53F25;
    margin-left: 50px;
}

/*recuerdame*/
.login main .formulario .box-check{
    display: block;
    text-align: end;
    padding-right: 35px;
}

/*boton iniciar */
.login main .formulario .iniciar{
    display: flex;
    flex-direction: column;
}


.login main .formulario .iniciar button{
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    height: 27px;
    font-size: 12px;
    margin: 24px auto 26px;
    padding: 5px 12px;
}


/* derivacion al register*/
.login main .registrar{
    margin: 10px 0px 10px;
    align-self: center;
}


.login main .registrar p, .login main .registrar a{
    font-size: 11px;

}

.login main .registrar a{
    color: fuchsia;
}

/*TABLET*/
@media(min-width:768px){
    /*formulario en general*/
    .login main .formulario{
        box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.25);
        width: 400px;
        margin: 40px 0px 10px;
    }

    /* titulo inicio de sesion*/
    .login main .formulario p{
        font-size: 16px;
    }


    /* caja de formulario */
    .login main .formulario .box-form{
        margin: 20px 0;
    }


    /*titulo email-contraseña*/
    .login main .formulario .box-form label{
        font-size: 14px;
        margin-bottom: 10px;
    }

    /*seccion para rellenar*/
    .login main .formulario .box-form input{
        box-shadow: 6px 7px 3px 0px rgba(0, 0, 0, 0.25);
        height: 35px;
        width: 100%;
        font-size: 14px;
    }

    /*mensaje de error*/
    .login main .formulario .conteiner-error span {
        font-size: 18px;
        margin-left: 70px;
    }

    /*recuerdame*/
    .login main .formulario .box-check{
        padding-right: 50px;
    }

    /*boton iniciar*/
    .login main .formulario .iniciar button{
        font-size: 14px;
        padding: 8px 30px 27px;
    }

    /* derivacion al register*/
    .login main .registrar{
        margin: 25px 0px 0px;
    }
    
    .login main .registrar p, .login main .registrar a{
        font-size: 14px;
    
    }
    
}

/*DESKTOP*/
@media(min-width:1024px){
    /*formulario en general*/
    .login main .formulario{
        width: 500px
    }
    /* titulo inicio de sesion*/
    .login main .formulario p{
        margin: 35px 0px 15px;
        font-size: 18px;
    }


    /* caja de formulario */
    .login main .formulario .box-form{
        margin: 25px 0px 25px 40px;
        padding: 0 2%;
    }
    

    /*titulo email-contraseña*/
    .login main .formulario .box-form label, .login main .formulario .box-form label.email {
        font-size: 16px;
        margin-left: 25px;
    }


    /*seccion para rellenar*/
    .login main .formulario .box-form input{
        width: 90%;
        height: 45px;
        font-size: 16px;
    }

    /* mensaje de error*/
    .login main .formulario .conteiner-error span{
        font-size: 21px;
        margin-left: 90px;
    }

    /*recuerdame*/
    .login main .formulario .box-check{
        padding-right: 65px;
    }

    /*boton iniciar*/
    .login main .formulario .iniciar button{
        font-size: 16px;
        padding: 8px 30px 32px;
    }

    /* derivacion al register*/
    .login main .registrar{
        margin: 35px 0px 0px;
    }

    .login main .registrar p, .login main .registrar a{
        font-size: 20px;
    
    }
}