 body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto Condensed;
  }
   
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

  }
 
.left-column {
    width: 65%;
 
  }
  
  .left-column img{
    width: 100%;
  
 
    
  }
 

 
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  
  .product-description span {
    font-size: 12px;
    font-weight: bold;
    color: #2d00f3;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description span.precio {
    font-size: 14px;
    font-weight: bold;
    color: #2d00f3;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description b {
    font-size: 14px;
    font-weight: bold;
    color: #27b81a;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    padding: 5px 0;
  }
 

  .cantidadboton  {
    margin-bottom: 20px;
  }
   
  .cantidadboton  button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
  }

  
/*------------tablet-----------------*/
@media (min-width: 768px) {
 
   
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
 
   
  .right-column {
    width: 65%;
    margin-top: 60px;
  }
 
}


@media (min-width: 1024px) {

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto Condensed;
  }
   
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
 
.left-column {
    width: 65%;
 
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
 
.left-column img {
    width: 60%;
     
  }
    
}
