<!DOCTYPE html>
<html lang="es">

<%- include("partials/head",{title: 'Registro de usuario'}) %>

<body class="register">

    <%- include("partials/header") %>

    <main>
        <div class="formulario">
            <p>registrate</p>
            <form action="" method="POST">
                <div class="box-form">
                    <label class="nombreCompleto" for="nombre">Nombre y apellido</label>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <div class="box-form">
                    <label class="email" for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="box-form">
                    <label class="telefono" for="telefono">telefono</label>
                    <input type="tel" id="telefono" name="telefono">
                </div>
                <div class="box-form">
                    <label for="pass">Contraseña</label>
                    <input type="password" id="pass" name="password">
                </div>
                <div class="registrarse">
                    <button type="submit">registrarse</button>
                </div>
            </form>
        </div>
        <div class="iniciar-sesion">
            <p>¿Tenes cuenta?<a href="/users/login"> Haz click para iniciar sesion</a></p>
        </div>
    </main>
    
    <%- include("partials/footer") %>
    
</body>

</html>